body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

nav.nav-top {
  background-color: #352416;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 35px;
}

main {
  min-height: 80vh;
  padding: 40px;
  background-color: #f4f4f4;
  display: flex;
  gap: 10px;
  margin: 0;
}

main .left {
  flex: 3;
  background-color: #4b2e1e;
  padding: 20px;
}

main .right {
  flex: 2;
  background-color: #8b5e3c;
  padding: 20px;
}

nav.nav-footer {
  background-color: #2c1e12;
  color: white;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.produto-card {
  background-color: #6b4224;
  color: white;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.produto-card:hover {
  background-color: #352113;
}

.produto-nome {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto-detalhes {
  margin-top: 10px;
  display: none;
  font-size: 0.95em;
  line-height: 1.4em;
}

.produto-card.ativo .produto-detalhes {
  display: block;
}

.produto-nome .nome {
  font-weight: bold;
}

a,
a:visited,
a:hover,
a:active {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
