<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="nav-top">
      <a href="{{url_for('lista')}}">Lista</a>
    </nav>
    <main>
      <div class="left">
        <h2>Qual produto deseja cadastrar?</h2>
      </div>
    </main>
    <nav class="nav-footer">
      <a href="javascript:history.back()">Voltar</a>
    </nav>
  </body>
</html>
