<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Criar Administrador</title>

</head>

<body>

<div class="container">

    <h1>Criar Administrador</h1>

    <form method="POST">

        <label>Nome</label>

        <input
            type="text"
            name="nome"
            required
        >

        <label>Usuário</label>

        <input
            type="text"
            name="usuario"
            required
        >

        <label>Senha</label>

        <input
            type="password"
            name="senha"
            minlength="8"
            required
        >

        <button type="submit">
            Criar Administrador
        </button>

    </form>

</div>

</body>

</html>